body{
    font-family: verdana;
    font-size: 2em;
    text-align: center;
}
#mysubmit{
    font-size: 1em;
    color: white;
    background-color: rgb(245, 14, 14);
    transition: background-color 0.25s;
    cursor: pointer;
}
#mysubmit:hover{
    background-color: rgb;
}