body{
    text-align: center;
    font-family: verdana;
}
#myBtn{
    font-size: 3em;
    color: white;
    background-color: rgb(236, 89, 89);
    padding: 5px 25px;
    border-radius: 5px;
    transition: background-color 0.25s;
}
#myBtn:hover{
    background-color:  #a52a2ac2;
    }
.labels{
    font-size : 3em;
 }   